:root {
    --font-body: 'Patrick Hand', cursive;
    --font-heading: 'Kaushan Script', cursive;
    --sidebar-bg-color: black;
    --sidebar-item-hover-color: rgba(255, 208, 0, 0.869);
    --overlay-bg-color: rgba(16, 15, 15, 0.5);
    --placeholder-color: rgb(220, 120, 20);;
    --spinner-border-color: #e1961d;
    --loading-bg-color: rgb(41, 41, 41);
}

/* ? Fonts Import And Initialization */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Patrick+Hand&display=swap');
body {
    font-family: var(--font-body);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.5)), url(../img/bg.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}
input {
    color: var(--placeholder-color) !important;
}

/* ? SideBar Styles */

#sideBar {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--sidebar-bg-color);
    z-index: 99;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.5)), url(../img/side.jpg);
    background-position: center;
    background-size: contain;
}
@media all and (max-width: 768px){
    #sideBar {
        background-color: transparent;
        background-image: none;
    }
    .bottomIcons {
        display: none !important;
    }
    .icoAN {
        position: absolute;
        bottom: 0;
        margin-left: 25px;
    }
    .fa-close,
    .fa-bars {
        background-image: url('../img/side.jpg');
        background-size: contain;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        color: white;
        font-size: 1.5rem;
    }
    .sideIcons {
        justify-content: center !important;
    }
}
.sideIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sideIcons i {
    padding: 10px;
    align-self: center;
    cursor: pointer;
}

.sideBar-content {
    background-color: rgb(51, 50, 53);
    padding: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.5)), url(../img/bg.jpg);
}

.icoAN, .icoAn2 {
    width: 60px;
    height: 60px;
    align-self: top;
    cursor: pointer;
}

.fa-close {
    display: none;
}

#sideBarItems {
    position: relative;
}

#sideBarItems li {
    cursor: pointer;
    position: relative;
    top: 100%;
    transition: all 0.5s;
    padding: 0 15px;
}


/* ? Highlight sidebar items on hover */
.wave {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.wave span {
    position: relative;
    display: inline-block;
    color: var(--sidebar-item-hover-color);
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(.1s*var(--i));

}

@keyframes animate {
    0% {
        transform: translateY(0px);
        text-shadow: 0 0 0.9em rgba(225, 207, 44, 0.763);;
        color: #27A2CB;
    }

    20% {
        transform: translateY(-20px);
        color: #BE3D81;
    }

    40%,
    100% {
        color: #FC604F;
        transform: translateY(0px);
        text-shadow: 0 0 0.9em rgba(225, 44, 138, 0.763);;

    }
}
.title{
    font-size: calc(12px + .09698vw);
    cursor: pointer;
}

#sideBarItems li:hover {
    color: var(--sidebar-item-hover-color);
}

#sideBarItems li:hover i {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
/* ? Content And Overlay */

.content {
    position: relative;
    overflow: hidden;
}
.content:not(.category) {
    box-shadow: 0 0 15px rgba(207, 128, 128, 0.5);
}

.content #overlay {
    position: absolute;
    top: 150%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}
/*? Search Inputs */

#searchInputs {
    display: none;
    position: relative;
    z-index: 9999;
}

::placeholder {
    color: var(--placeholder-color) !important;
}

/* ? Hover Effects for Meals */
.content:hover #overlay {
    top: 0;
}

.content #overlay h3 {
    width: 100%;
}

/*? Hover Effects for Areas and Ingredients */
.areas,
.ingredients,
.ingredients i,
.areas i {
    transition: all 0.5s;
    cursor: pointer;
}

.areas:hover,
.ingredients:hover {
    color: var(--sidebar-item-hover-color);
}

.areas i:hover,
.ingredients i:hover {
    color: var(--placeholder-color);
    rotate: 45deg;
}


/*? Hide Sections  */

#details {
    display: none;
}

#signUp {
    display: none;
}

/* ?Loading Styles */

#loading {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--loading-bg-color);
    align-items: center;
    justify-content: center;
    z-index: 2222;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.5)), url(../img/bg.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

.spinner-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
}

.spinner {
    position: absolute;
    width: calc(100% - 9.9px);
    height: calc(100% - 9.9px);
    border: 5px solid transparent;
    border-radius: 50%;
    border-top-color: var(--spinner-border-color);
    animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
