:root {
    --font-body: 'Patrick Hand', cursive;
    --font-heading: 'Kaushan Script', cursive;
    --sidebar-bg-color: black;
    --sidebar-item-hover-color: rgba(255, 208, 0, 0.869);
    --overlay-bg-color: rgba(141, 138, 138, 0.7);
    --placeholder-color: rgb(220, 120, 20);;
    --spinner-border-color: #e1961d;
    --loading-bg-color: rgb(41, 41, 41);
}

/* ? Fonts Import And Initialization */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Patrick+Hand&display=swap');
body {
    font-family: var(--font-body);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

/* ? SideBar Styles */

#sideBar {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--sidebar-bg-color);
    z-index: 99;
}

.sideIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sideIcons i {
    padding: 10px;
    align-self: center;
    cursor: pointer;
}

.sideBar-content {
    background-color: rgb(51, 50, 53);
    padding: 20px;
}

.icoAN {
    width: 50px;
    height: 50px;
    align-self: top;
    cursor: pointer;
}

.fa-close {
    display: none;
}

#sideBarItems {
    position: relative;
}

#sideBarItems li {
    cursor: pointer;
    position: relative;
    top: 100%;
    transition: all 0.5s;
    padding: 0 15px;
}
/* ? Highlight sidebar items on hover */

#sideBarItems li:hover {
    color: var(--sidebar-item-hover-color);
}

#sideBarItems li:hover i {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
/* ? Content And Overlay */

.content {
    position: relative;
    overflow: hidden;
}

.content #overlay {
    position: absolute;
    top: 150%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(27, 21, 6);
    transition: all 0.5s;
    cursor: pointer;
}
/*? Search Inputs */

#searchInputs {
    display: none;
    position: relative;
    z-index: 9999;
}

::placeholder {
    color: var(--placeholder-color) !important;
}

/* ? Hover Effects for Meals */
.content:hover #overlay {
    top: 0;
}

.content #overlay h3 {
    width: 100%;
}

/*? Hover Effects for Areas and Ingredients */
.areas,
.ingredients,
.ingredients i,
.areas i {
    transition: all 0.5s;
    cursor: pointer;
}

.areas:hover,
.ingredients:hover {
    color: var(--sidebar-item-hover-color);
}

.areas i:hover,
.ingredients i:hover {
    color: var(--placeholder-color);
    rotate: 45deg;
}


/*? Hide Sections  */

#details {
    display: none;
}

#signUp {
    display: none;
}

/* ?Loading Styles */

#loading {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--loading-bg-color);
    align-items: center;
    justify-content: center;
    z-index: 2222;
}

.spinner-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
}

.spinner {
    position: absolute;
    width: calc(100% - 9.9px);
    height: calc(100% - 9.9px);
    border: 5px solid transparent;
    border-radius: 50%;
    border-top-color: var(--spinner-border-color);
    animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
